nav{
    background: rgb(142, 209, 231);
}
.item-intro{
    font-size: large;
    color: rgb(0, 138, 0);
}
ol{
    background: #fdea80;
    font-size: medium;
    font-family: cursive;
}
#work-radio{
    color: red;
}